/* css da pagina Fale Conosco */

h1#titulo{
    text-align: center;
    margin: 1em;
}

div#formulario{
    margin: 2em 10%;
}

div#formulario label{
    display: block;
    font font-weight: bold;
    margin: 0.5em 0em;
}

div#formulario input,select,textarea{
    width: 100;
    border-radius: 5px;
    min-height: 3em;
    max-height: 10em;
    min-width: 100%;
    max-width: 100%;
}

