/*CSS geral do site*/

:root{
    --corDeFundo1: #000000;
    --corDeFundo2: #171717;
    --corDeFundo3: #454545;
    --corFontePadrao: #F3F5F9;
    --fontePadrao: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--corDeFundo2);
    color: var(--corFontePadrao);
    font-family: var(--fontePadrao);
}